body{
    background: #F3F5FC;
}

.principal{
    width: 1280px;
    height: 925px;
}

#texto-a-modificar{
    background: #F3F5FC;
    border: none;
    font-size: 30px;
    color: #19447A;
    position: absolute;
    top: 150px;
    left: 280px;
}

#texto-a-modificar::placeholder{
    color: #19447A;
    font-size: 30px;
}

#texto-a-modificar:focus{
    outline: none;
}

#texto-modificado{
    background: white;
    width: 23%;
    height: 93%;
    position: absolute;
    top: 30px;
    right: 80px;
    border-radius: 30px;

}

#imagen{
    width: 80%;
    position: absolute;
    top: 23%;
    left: 10%;
    text-align: center;
}

#texto1{
    font-weight: bold;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    
}

#texto2{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

.botones{
    position: absolute;
    top: 83%;
    left: 280px;
    width: 40%;
}

.botones p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
}

#button-encriptar{
    width: 40%;
    padding: 20px 0;
    font-size: 14px;
    background: #0A3871;
    color: white;
    border-radius: 18px;
    border-color: #0A3871;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
}

#button-desencriptar{
    width: 40%;
    padding: 20px 0;
    position: absolute;
    left: 50%;
    font-size: 14px;
    background: transparent;
    color: #0A3871;
    border-radius: 18px;
    border-color: #0A3871;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
}